@font-face {
    font-family:"Bebas Neue" ;
    src: url("public/fonts/BebasNeue-Regular.ttf");
}

html {
    --fancy-gradient: linear-gradient(to bottom, #884ced, #ec1cce);
}

body {
    background: linear-gradient(#202020, #222);

    margin: 0;

}

header {
    width: 100%;
    height: 300px;
    background: var(--fancy-gradient);
    display: flex;
    justify-content: center;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    place-items: center;
    height: 900px;

    margin-top: 30px;
    width: 100%;
}

.container img {
    height: 400px;
    width: 400px;
    margin-bottom: 60px;
    border: solid 5px #202020;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.title {
    width: 720px;
    height: 100%;
    display: flex;
    align-items: flex-end;
    overflow: hidden;
}


.title img {
    display: inline-block;
    width: 300px;
    transform: translateY(10px) rotate(-7deg);
    filter: drop-shadow(10px 5px 5px rgba(0, 0, 0, 0.573));
    z-index: 1;
    transition: transform 0.5s ease;

}

.text {
    font-family: "Bebas Neue";
    color: #fff;
    font-weight: 800;
    font-size: 6rem;
    text-shadow: 5px 5px 15px rgba(0, 0, 0, 1);
    line-height: 62%;
    transform: translate(-30px);
    transition: transform 0.5s ease;

}

header:hover img {
    transform: translateY(400px) rotate(-7deg);
}

header:hover .text {
    transform: translate(-150px, -50px) scale(1.5);
}

.block-2 {
    display: flex;
    justify-content: center;
    background: #362946;
    height: 80px;
    align-items: center;
}

.block-2 h1 {
    font-family: "Bebas Neue";
    color: #fff;
    text-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
    font-size: 70px;
    letter-spacing: 1px;
    font-weight: 400;
}

.block-1 {
    height: 100px;
    display: flex;
    background: linear-gradient(#202020, #222);
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.block-1 p {
    color: gold;
    text-shadow: 0 0 6px black, 0 0 12px black;
    padding: 0.5rem 1rem;
    font-size: 20px;
    font-weight: 200;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background: #202020;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

footer h3 {
    color: #fff;
    font-size: 24px;
}